
<div class="row g-4 fanart-grid">
    
    <div class="col-xl-3 col-lg-4 col-md-6" data-category="digital">
        <div class="fanart-card">
            <div class="art-image">
                <img src="~/Content/images/fanarts/torfin-art2.jpg" alt="" class="img-fluid" loading="lazy">
                <div class="art-overlay">
                    <button class="btn btn-view" data-bs-toggle="modal" data-bs-target="#artModal">
                        <i class="fas fa-expand"></i>
                    </button>
                    <div class="artist-info">
                        <span class="badge">@@vikingsoul</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xl-3 col-lg-4 col-md-6" data-category="digital">
        <div class="fanart-card">
            <div class="art-image">
                <img src="~/Content/images/fanarts/torfin-art.jpg" alt="" class="img-fluid" loading="lazy">
                <div class="art-overlay">
                    <button class="btn btn-view" data-bs-toggle="modal" data-bs-target="#artModal">
                        <i class="fas fa-expand"></i>
                    </button>
                    <div class="artist-info">
                        <span class="badge">@@vikingsoul</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="col-xl-3 col-lg-4 col-md-6" data-category="traditional">
        <div class="fanart-card">
            <div class="art-image">
                <img src="~/Content/images/fanarts/torkel-art.jpg" alt="" class="img-fluid" loading="lazy">
                <div class="art-overlay">
                    <button class="btn btn-view" data-bs-toggle="modal" data-bs-target="#artModal">
                        <i class="fas fa-expand"></i>
                    </button>
                    <div class="artist-info">
                        <span class="badge">@@vikingsoul</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-6" data-category="traditional">
        <div class="fanart-card">
            <div class="art-image">
                <img src="~/Content/images/fanarts/kanut-art.jpg" alt="" class="img-fluid" loading="lazy">
                <div class="art-overlay">
                    <button class="btn btn-view" data-bs-toggle="modal" data-bs-target="#artModal">
                        <i class="fas fa-expand"></i>
                    </button>
                    <div class="artist-info">
                        <span class="badge">@@vikingsoul</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div> 
