
<footer class="bg-white py-5 border-top">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4">
                <h5 class="mb-3">Vinland Saga</h5>
                <p class="text-secondary small">Неофициальный ресурс, посвященный философской манге Макото Юкимуры
                </p>
            </div>

            <div class="col-md-4">
                <h5 class="mb-3">Навигация</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="@Url.Action("Author", "VinlandSaga")" class="text-decoration-none text-dark small">Творчество
                            автора</a></li>
                    <li class="mb-2"><a href="@Url.Action("Media", "VinlandSaga")" class="text-decoration-none text-dark small">Анимация и
                            музыка</a></li>
                    <li class="mb-2"><a href="@Url.Action("Forum", "VinlandSaga")"
                            class="text-decoration-none text-dark small">Обсуждения</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5 class="mb-3">Сообщество</h5>
                <div class="d-flex gap-3">
                    <a href="#" class="btn btn-outline-dark btn-sm rounded-pill">
                        <i class="fab fa-discord me-2"></i>Discord
                    </a>
                    <a href="#" class="btn btn-outline-dark btn-sm rounded-pill">
                        <i class="fab fa-telegram-plane me-2"></i>Telegram
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 text-center">
                <p class="text-secondary small mb-0">&copy; @DateTime.Now.Year Vinland Saga Fan Community. Не является официальным
                    сайтом</p>
            </div>
        </div>
    </div>
</footer> 
